// Fonts 
@import '~@fontsource/montserrat/index.css';
@import '~@fontsource/montserrat/700.css';

// Reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1d2d3b;
}

// Common
.container {
    width: 70%;
    margin: 0 auto;
}